.list-of-to-do-projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.to-do-header {
    position: relative;
    font-size: 2.75em;
    margin-bottom: 0.5em;
}

.to-do-header:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 33.3%;
    border: 0.1em solid black;
    border-radius: 10em;
}

.to-do-field-container {
    display: flex;
    width: 100%;
    height: 5em;
    justify-content: center;
    margin-bottom: 1em;
}

.list-of-to-do-projects-form {
    height: 100%;
    width: 100%;
}

#list-of-to-do-projects-text {
    width: 100%;
    height: 100%;
    font-size: 2em;
    font-weight: bolder;
    padding: 0 1em;
    background-color: white;
    border: 1px solid grey;
}

.delete-project-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 1em;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1em;
    font-weight: bolder;
    padding: 0 2em;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: 6em;
    height: 5em;
}

.delete-project-btn:disabled {
    pointer-events: none;
}

.delete-project-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.delete-project-btn:active {
    box-shadow: none;
    transform: translateY(0);
}

.checkbox-container {
    position:relative;
    display: block;
    height: 100%;
    width: 5em;
    cursor: pointer;
    border: 1px solid black;
}

/* hide browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* create custom checkbox */
.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0.4em 0.2em;
}

.checkbox-container:hover input ~ .checkbox {
    background-color: #cccccc;
}

.checkbox-container input:checked ~ .checkbox {
    background-color: #2196f3;
}

/* create checkmark (hidden when not checked) */
.checkbox:after {
    content: '';
    position: absolute;
    display: none;
}

/* show checkmark when checked*/
.checkbox-container input:checked ~ .checkbox:after {
    display: block;
}

/* style checkmark */
.checkbox-container .checkbox:after {
    /* aspect-ratio: 1/2.25; */
    width: 1em; 
    height: 2.25em;
    border: solid white;
    border-width: 0 10px 10px 0;
    transform: rotate(45deg);
}
